In [1]:
import pandas as pd
import os

In [2]:
#load csv file and select columns
org=pd.read_csv('./NSCLC Radiomics Lung1.clinical-version3-Oct 2019.csv',sep=',')
org=org[['PatientID','Survival.time']]

In [3]:
#our patient list to DataFrame
new=pd.DataFrame(os.listdir('./TCIA_test'),columns=['PatientID'])

In [4]:
#merge org with new , key='PatientID'
new=pd.merge(org,new,on='PatientID')

In [5]:
new

    PatientID  Survival.time
0   LUNG1-004            141
1   LUNG1-005            353
2   LUNG1-006            173
3   LUNG1-007            137
4   LUNG1-008             77
..        ...            ...
95  LUNG1-285            303
96  LUNG1-288            154
97  LUNG1-290            321
98  LUNG1-292            232
99  LUNG1-296            177

[100 rows x 2 columns]

In [6]:
#convert to month unit and check for recurrence
survival_month=[]
recurrence=[]
for i in range(len(new)):
    survival_month.append(int(new['Survival.time'][i]/30))
    if survival_month[i]<=24:
        recurrence.append(1)
    else:
        recurrence.append(0)

In [7]:
#add new columns
new['Survival.time(month)']=survival_month
new['recurrence']=recurrence

In [8]:
new

    PatientID  Survival.time  Survival.time(month)  recurrence
0   LUNG1-004            141                     4           1
1   LUNG1-005            353                    11           1
2   LUNG1-006            173                     5           1
3   LUNG1-007            137                     4           1
4   LUNG1-008             77                     2           1
..        ...            ...                   ...         ...
95  LUNG1-285            303                    10           1
96  LUNG1-288            154                     5           1
97  LUNG1-290            321                    10           1
98  LUNG1-292            232                     7           1
99  LUNG1-296            177                     5           1

[100 rows x 4 columns]

In [9]:
#'new' DataFrame to csv
new.to_csv('./label.csv',index=False)